body{
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  margin:0;
  padding: 0;
}

#header_div {
  width: 100vw;
  height:20px;
  text-align: center;
  background-color: #F0F0F0;
}

#breadcrumb_div {
  width: 100vw;
  height:30px;
}

#chart_div {
  width: 100vw;
  height:calc(100vh - 170px);
}

#footer_div {
  width: 100vw;
  height:120px;
  background-color: #F0F0F0;
}
.axis line {
  display: none;
}

.buttonRect{
  fill: white;
  stroke: #A0A0A0;
}
.d3_tooltip{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.8em;
  width: auto;
  height: auto;
  margin-right: 80px;
}
