body{
  font-family: Roboto;
  font-size: 14px;
  margin:0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

#header_div {
  width: 12vw;
  height:calc(100vh - 120px);
  text-align: center;
  background-color: #A0A0A0;
  float:left;
}

#functional_div{
  float: left;
  border: white 3px solid;
  width: calc(12vw - 10px);
  height:20px;
  padding-left: 4px;
  background-color: #F0F0F0;
  text-align: left;
}

#group_div{
  float: left;
  text-align: left;
  padding-top: 4px;
  padding-left: 4px;
  background-color: #D0D0D0;
  width: calc(12vw - 10px);
  height: 140px;
  overflow-x: hidden;
  overflow-y: auto;
  border: white 3px solid;
}

#well_div{
  float: left;
  text-align: left;
  padding-top: 4px;
  padding-left: 4px;
  background-color: #D0D0D0;
  width: calc(12vw - 10px);
  height: calc(100vh - 306px);
  overflow-x: hidden;
  overflow-y: auto;
  border: white 3px solid;
}
#breadcrumb_div {
  width: 88vw;
  height:30px;
  float:left;
}

#chart_div, #extra_chart_div {
  width: 44vw;
  height:calc(100vh - 170px);
  float:left;
}

#footer_div {
  width: 100vw;
  height:120px;
  background-color: #F0F0F0;
  float:left;
}
.axis line {
  display: none;
}

.buttonRect{
  fill: white;
  stroke: #A0A0A0;
}
.d3_tooltip{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.8em;
  width: auto;
  height: auto;
  margin-right: 80px;
}

.axis line {
  display: none;
}

.axis path, .axis text {
  fill: #707070;
}